* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.form-container {
  display: flex;
  margin-bottom: 1rem;
}

.todolist-container {
  display: flex;
  flex-direction: column;
}

.todo-container {
  display: flex;
  margin-bottom: .7rem;
}

h3 {
  margin-right: 1rem;
}

.line {
  text-decoration: line-through;
}